// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";


$break-small-wid: 800px;
$break-smaller-wid:600px;
$break-smallest-wid: 480px;
$break-smallest-hei: 420px;
$break-small-hei: 480px;

html, body{
    height:100%;
}





.navbar-collapse{
    height: 10%;
}

.jumbotron{
    background-color: white;

    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-image: url("../pictures/background.png");
    background-size: cover;
    background-repeat:no-repeat;
    @media screen and (max-width:$break-small-wid){
        background-position:right -100px top;
    }
    @media screen and (max-width:$break-small-wid) and (max-height:$break-smallest-hei){
        background-position:right top -20px;
    }
    @media screen and (max-width:$break-smaller-wid){
        background-position:right -180px top;
    }
    @media screen and (max-width:$break-smallest-wid){
        background-position:right -220px top;
    }
    @media screen and (max-width:$break-smaller-wid) and (max-height:$break-small-hei){
        background-position:right -75px top;
    }
    @media screen and (max-width:$break-smallest-wid) and (max-height:$break-small-hei){
        background-position:right -100px top;
    }
    background-position:right;
    //padding-bottom: 30px
    
    .centered-area{
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
    .centered-area:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
    }

    .name{
        display:inline-block;
        vertical-align: middle;
    }
    .nametext{
        font-size: 50px;
                color:black;
        text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
        -moz-text-shadow: 0 0 5px black;
        -webkit-text-shadow: 0 0 5px black;

    }
    .subjecttext{
        font-size:20px;
    }
}

.fulldiv{
    height:100%;
}
.tablehead{
    display: table;
    height: 20%;
    width:100%;
    top:10%;
    bottom:0;
    right:0;
    left:0;
    padding:10% 0 0 0;
    margin: 0 0 0 0;
    text-align: center;

}
.table{
    display: table;
    height: 70%;
    width: 100%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    padding:0 0 0 0;
    margin: 0 0 0 0;
    text-align: center;
    
}

.fulltable{
    display: table;
    height: 100%;
    width: 70%;
    top:0;
    bottom:0;
    right:0;
    left:0;
    padding:0 0 0 0;
    margin: 0 0 0 0;
    text-align: center;
    
}
.tablecent{
        display: table-cell;
        vertical-align:middle;
        width:100%;
    }
.tablebottom{
        display: table-cell;
        vertical-align:middle;
        width:100%;
        overflow:hidden;

    }
h1{
    text-align:center;
    color:red;
}
