<!DOCTYPE html>
<html lang="en">
</html>

<head>
  <link href="../stylesheets/styles.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="../javascripts/scrolling.js"></script>
</head>

<body>
	<nav class = "navbar navbar-default navbar-fixed-top">
		<div class = "container-fluid">
			<div class = "navbar-header">
				<button type = "button" class = "navbar-toggle collapsed btn btn-default navbar-btn" data-toggle = "collapsed" data-target = "#bs-example-navbar-collapse-1" aria-expanded="false">
				</button>
				<a class = "navbar-brand" href = "#">Edwin Wu</a>
			</div>
			<div class = "navbar-collapse collapse" id = "bs-example-navbar-collapse-1">
			</div>
		</div>
	</nav>
	<div id = "name" class = "jumbotron text-center">
		<div class = "fulltable">
			<div class = "tablebottom">
				<h1 class="nametext"> Edwin Wu</h1>
                <h2 class="subjecttext">Finance | Technology | Development</h2>
			</div>
		</div>

	</div>
	<div class = "fulldiv">
		<div class = "tablehead">
			<div class = "tablecent">
				<h1> yo </h1>
			</div>
		</div>
		<div id = "about" class = "table">	
			<div class = "tablecent">
				<h2>About Me</h2>
                <p>I'm Edwin Wu, a current junior at Northwestern studying Mathematical Methods in the Social Sciences, Economics, and Computer Science. 
                I'm interested in the intersection of technology and finance, with particular emphasis on corporate strategy in the technology world.
                I'm also passoniate about international development with experience helping run Engineers Without Borders as Vice President of Finances and Corporate
                Relations. This summer, I'll be working at Greenhill
                in Industrials M&A and Restructuring. Whether its about international development, technology, or finance, I'd love to chat and share ideas. Feel free to send me a note or connect with me on LinkedIn. </p>
			</div>
		</div>
	</div>
	
</body>
</html>
